{% macro show_flight(flights) %}
<div class="card adjust-height">
  <header class="card-header">
    <div class="card-header-title">
      <h2>{{ flights['birdName']}} </h2>
    </div>
  </header>
  <div class="card-content" style="padding: 20px;">
    <div class="content">
      <p>
        <center><img src="{{ flights['img'] }}" alt="" style="height: 500px;"></center>
        <b>Scientific Name:</b> {{ flights['sciName'] }}<br>
        <b>Phylum:</b> {{ flights['phylum']}}<br>
        <br>
        <b>Description:</b> {{ flights['desc'] }}<br>
        <b>Did you know:</b> {{ flights['know'] }}
      </p>
    </div>
  </div>
</div>
<br>
{% endmacro %}

{% macro show_flights(flights) %}
<div class="columns is-multiline">
  {% for flight in flights %}
  <div class="column is-half">
    {{ show_flight(flight) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}


{% macro show_noflight(noflights) %}
<div class="card adjust-height">
  <header class="card-header">
    <div class="card-header-title">
      <h2>{{ noflights['birdName']}} </h2>
    </div>
  </header>
  <div class="card-content" style="padding: 20px;">
    <div class="content">
      <p>
        <center><img src="{{ noflights['img'] }}" alt="" style="height: 500px;"></center>
        <b>Scientific Name:</b> {{ noflights['sciName'] }}<br>
        <b>Phylum:</b> {{ noflights['phylum']}}<br>
        <br>
        <b>Description:</b> {{ noflights['desc'] }}<br>
        <b>Did you know:</b> {{ noflights['know'] }}
      </p>
    </div>
  </div>
</div>
<br>
{% endmacro %}

{% macro show_noflights(noflights) %}
<div class="columns is-multiline">
  {% for noflight in noflights %}
  <div class="column is-half">
    {{ show_noflight(noflight) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro show_colorful(colorfuls) %}
<div class="card adjust-height">
  <header class="card-header">
    <div class="card-header-title">
      <h2>{{ colorfuls['birdName']}} </h2>
    </div>
  </header>
  <div class="card-content" style="padding: 20px;">
    <div class="content">
      <p>
        <center><img src="{{ colorfuls['img'] }}" alt="" style="width: 500px;"></center>
        <b>Scientific Name:</b> {{ colorfuls['sciName'] }}<br>
        <b>Phylum:</b> {{ colorfuls['phylum']}}<br>
        <br>
        <b>Description:</b> {{ colorfuls['desc'] }}<br>
        <b>Did you know:</b> {{ colorfuls['know'] }}
      </p>
    </div>
  </div>
</div>
<br>
{% endmacro %}

{% macro show_colorfuls(colorfuls) %}
<div class="columns is-multiline">
  {% for colorful in colorfuls %}
  <div class="column is-half">
    {{ show_colorful(colorful) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}
