{% extends "layout.html" %}
{% block content %}
 <center><h1>What are Birds?</h1></center>
 <hr>
 <div class="container">
   <p>
     Here, we can enjoy the several kinds of birds and how cute they are

   </p>
   <center><img src="static/img/aboutbirds.gif" alt="about birds"></center>
   <hr>
   Birds are vertebrates (animals with backbones) with wings and feathers.
   Although all birds have wings, some species can't fly due to not being
   strong enough wings to fly which makes them flightless
   (<i>did you know: only about 40 bird species can't fly??</i>)
   Birds are are also the only animals with
   feathers. They are covered with a light, tough layer of feathers and have
   light skeletons.
   <br>
   <a href="/birdwatch" class="btn btn-info">Go bird watching</a>

 </div>


{% endblock %}
