{% extends "layout.html" %}
{% block content %}

  <div class="bird-container">
    <div class="login-container">
      <center>
        <h1>It's about birds!</h1>
          <input type="text" name="user" value="" placeholder="username"
          style="border-radius: 10px; font-style: italic; padding: 5px 20px;">
          <br><br>
          <input type="text" name="pass" value="" placeholder="password"
          style="border-radius: 10px; font-style: italic; padding: 5px 20px;"><br>
            <a href="/about" style="btn btn-info">Login</a>
      </center>
    </div>
  </div>

{% endblock %}
